<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Phil's Tonight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E56E08351BB3A04000C0CA29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E56E084E1BB3A04000C0CA29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E56E08591BB3A04000C0CA29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
